API_PUBLIC_KEY="<Turnkey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<Turnkey API Private Key>"
ORGANIZATION_ID="<Turnkey organization ID>"
BASE_URL="https://api.turnkey.com"
DEPLOYER_ADDRESS="<Wallet Account Address, Private Key Address, or Private Key ID>"
TOKEN_OWNER="<Wallet Account Address, Private Key Address, or Private Key ID>"
UPGRADE_ADDRESS="<Wallet Account Address, Private Key Address, or Private Key ID>"